html, body {
  font-family: "Roboto", "Helvetica Neue", "Helvetica", sans-serif;
  font-size: 15px;
  margin: 0;
  padding: 0;
}

.react-image {
  max-width: 100vw;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  margin: 1rem 0;
}

.react-image h1 {
  text-align: center;
}
